<div class="flex flex-col gap-2 bg-navy py-4 px-5 rounded-lg text-lg">
  <div>
    <span class="text-white font-semibold" (click)="selectAllTasks()">
      All tasks
    </span>
  </div>
  <div *ngFor="let project of tasks" class="flex flex-col">
    <div class="flex items-center justify-between">
      <span
        class="text-white font-semibold"
        (click)="toggleTasks(project.project_id)"
      >
        {{ project?.project_info?.name || project?.name }}
      </span>
      <button (click)="toggleTasks(project.project_id)" class="text-white">
        <i
          class="fas fa-chevron-down"
          [ngClass]="{
            'rotate-180': expandedProjectIds.has(project.project_id)
          }"
        ></i>
      </button>
    </div>

    <!-- Expandable task list -->
    <div
      *ngIf="expandedProjectIds.has(project.project_id)"
      class="text-base text-right"
    >
      <div class="text-beige flex flex-col items-end">
        <button
          [ngClass]="{ 'font-bold text-shadow': selectedTaskType === 'all' }"
          (click)="selectTaskType(project.project_id, 'all')"
        >
          {{ "navbar.taskTypes.allTasks" | translate }}
        </button>
        <button
          [ngClass]="{
            'font-bold text-shadow': selectedTaskType === 'important'
          }"
          (click)="selectTaskType(project.project_id, 'important')"
        >
          {{ "navbar.taskTypes.importantTasks" | translate }}
        </button>
        <button
          [ngClass]="{
            'font-bold text-shadow': selectedTaskType === 'completed'
          }"
          (click)="selectTaskType(project.project_id, 'completed')"
        >
          {{ "navbar.taskTypes.completedTasks" | translate }}
        </button>
        <button
          [ngClass]="{
            'font-bold text-shadow': selectedTaskType === 'incompleted'
          }"
          (click)="selectTaskType(project.project_id, 'incompleted')"
        >
          {{ "navbar.taskTypes.incompletedTasks" | translate }}
        </button>
      </div>
    </div>
  </div>
  <button
    *ngIf="customerData.role === UserRole.ProjectManager"
    type="button"
    class="text-white rounded-md w-fit font-semibold cursor-pointer"
  >
    <i class="fa-solid fa-circle-plus text-white pr-1"></i>
    Add project
  </button>
</div>
