<div
  class="flex justify-between items-center bg-navy w-full rounded-lg p-5"
>
  <p class="text-white font-bold text-2xl">
    <i class="fa-solid fa-network-wired pr-1 text-white font-bold text-2xl"></i>
    {{ "track_wise" | translate }}
  </p>
  <div class="flex items-center gap-4">
    <i class="fa-solid fa-user-large text-white text-3xl"></i>
    <p class="flex flex-col text-white">
      <span class="font-semibold">Anastasiia Herych</span>
      <span class="text-right text-beige text-sm">Developer</span>
    </p>
    <p class="text-white text-4xl self-baseline">|</p>
    <i class="fa-solid fa-arrow-right-from-bracket text-white text-2xl"></i>
  </div>
</div>
